:root {
  /* Font */
  --mainFont: 'Poppins', sans-serif;
  --secondaryFont: 'Fira Sans', sans-serif;
  --thirdFont: 'Roboto Condensed', sans-serif;

  /* Color */
  --colorPrimary: rgba(78, 44, 44, 255);
  --colorSecondary: #b8762f;
}

/*Navbar*/
.navbar {
  background-color: var(--colorPrimary);
}
.navbar .navbar-brand {
  font-family: var(--mainFont) !important;
  font-size: 24px;
  font-style: italic;
}
.navbar .navbar-nav .nav-item {
  font-family: var(--mainFont);
}
@media (min-width: 768px) {
  .nav-item {
    margin-right: 1.5rem;
    font-size: 16px;
  }
}
.ion-icon {
  font-size: 24px;
  margin-top: 8px;
}
.ion-icon a {
  color: #fff;
  margin-right: 1.3rem;
}
.icon-animations {
  animation: shiver 2s infinite;
}
@keyframes shiver {
  5% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(0deg);
  }
}

/* Hamburger Menu */
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon {
  border: 0;
  box-shadow: none;
  outline: none;
}
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--colorSecondary);
  display: block;
}
.mid-bar {
  margin: 5px auto;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .mid-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .mid-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*home*/
.home {
  background-image: url(background.png);
  height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .heading {
  padding-top: 10.5rem;
}
.heading {
  font-family: var(--secondaryFont);
  font-weight: bold;
}
.subheading {
  font-family: var(--secondaryFont);
  font-size: 20px;
}
.btn-buy {
  font-family: var(--mainFont);
  color: #fff;
  font-weight: 500;
}

/*features*/
.features {
  margin-top: 8rem;
}
.heading-features {
  font-family: var(--mainFont);
  color: var(--colorPrimary);
  font-weight: 600;
}
.heading-features-second {
  font-family: var(--secondaryFont);
  font-weight: 500;
  color: var(--colorSecondary);
}
/*menu*/
.menu {
  background: var(--colorSecondary);
  padding-top: 2rem;
}
.heading-menu {
  font-family: var(--mainFont);
  font-weight: 600;
}
.text-menu {
  font-family: var(--thirdFont);
  color: var(--colorPrimary);
}
.carousel-indicators {
  bottom: -30px;
}
/*program*/
.program {
  margin-top: 5rem;
  background: url(bg-2.jpg) repeat fixed 100%;
  height: 645px;
  background-size: cover;
  background-position: center;
}
.heading-program {
  width: 70%;
  margin: auto;
  font-family: var(--thirdFont);
  margin-top: 1.5rem;
  color: #fff;
  font-weight: 500;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 10px;
}

/*contact*/
.contact {
  padding-top: 8rem;
}
.heading-contact {
  font-family: var(--mainFont);
  font-weight: 700;
}
.line {
  width: 100px;
  height: 4px;
  border-radius: 20px;
  background-color: var(--colorPrimary);
  margin: auto;
}
.btn-send-email {
  background: var(--colorPrimary);
  color: #fff;
}
.btn-send-email:hover {
  background: var(--colorPrimary);
  color: #fff;
  font-weight: 500;
}

/*footer*/
.footer {
  background-color: #000;
}

/*Akhir Code seaction*/

.active {
  font-size: 18px;
}

html {
  scroll-padding-top: 4.7rem;
}
